<section class="about" id="about">
    <div class="container-lg">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="template-title template-title--about">
                    <h3>О компании</h3>
                    <span class="template-border-decoration"></span>
                </div>
                <p class="about-content">Компания Азия Карго - это полный комплекс логистических услуг по
                    доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги
                    посредника ТаоБао, КАРГО Китай-Россия. Для вашего удобства есть тарифы на лёгкий и тяжелый
                    куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже
                    более 11 лет.</p>
                <p class="about-content">Мы стремимся предоставить лучшие условия доставки и лучший сервис своим
                    клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени!
                    Убедитесь в этом сами!</p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <img src="assets/images/about/contract.svg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>