<div class="advantages section-margin">
    <div class="container-lg">
        <div class="template-title decoration decoration--orange">
            <h3>Почему стоит выбрать именно нас?</h3>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="advantages-box">
                    <div class="advantages-item">
                        <img src="assets/images/advantages/surface.svg" alt="Surface">
                    </div>
                </div>
                <p class="advantages-title">Таможенное оформление груза</p>
            </div>
            <div class="col-12 col-lg-3">
                <div class="advantages-box">
                    <div class="advantages-item">
                        <img src="assets/images/advantages/check-mark.svg" alt="Check Mark">
                    </div>
                </div>
                <p class="advantages-title">Страховка груза</p>
            </div>
            <div class="col-12 col-lg-3">
                <div class="advantages-box">
                    <div class="advantages-item">
                        <img src="assets/images/advantages/magnifying-glass.svg" alt="Magnifying Glass">
                    </div>
                </div>
                <p class="advantages-title">Проверка товара на брак</p>
            </div>
            <div class="col-12 col-lg-3">
                <div class="advantages-box">
                    <div class="advantages-item">
                        <img src="assets/images/advantages/delivery-truck.svg" alt="Delivery Truck">
                    </div>
                </div>
                <p class="advantages-title">Доставка в любой город РФ</p>
            </div>
            <div class="col-12 col-lg-3">
                <div class="advantages-box">
                    <div class="advantages-item">
                        <img src="assets/images/advantages/speech-bubble.svg" alt="Speech Bubble">
                    </div>
                </div>
                <p class="advantages-title">Консолидация на складе</p>
            </div>
            <div class="col-12 col-lg-3">
                <div class="advantages-box">
                    <div class="advantages-item">
                        <img src="assets/images/advantages/like.svg" alt="Like">
                    </div>
                </div>
                <p class="advantages-title">Ответственное хранение груза</p>
            </div>
            <div class="col-12 col-lg-3">
                <div class="advantages-box">
                    <div class="advantages-item">
                        <img src="assets/images/advantages/credit-card.svg" alt="Credit Card">
                    </div>
                </div>
                <p class="advantages-title">Помощь в оплате товара</p>
            </div>
            <div class="col-12 col-lg-3">
                <div class="advantages-box">
                    <div class="advantages-item">
                        <img src="assets/images/advantages/stack.svg" alt="Stack">
                    </div>
                </div>
                <p class="advantages-title">Упаковка, переупаковка, паллетирование груза к международной перевозке</p>
            </div>
        </div>
    </div>
</div>