<div class="delivery" id="delivery">
    <div class="container-lg">
        <div class="template-title decoration">
            <h3>Варианты доставки грузов из Китая</h3>
        </div>
        <div class="delivery-slider">
            <div>
                <div class="delivery-slider-item">
                    <img src="assets/images/delivery/vehicle-1.png" alt="Vehicle-1" class="delivery-slider-img">

                    <div class="delivery-slider-content">
                        <span class="delivery-slider-title">Авто - обычная</span>

                        <div class="delivery-slider-card">
                            <span class="delivery-slider-day">9-15 дней</span>
                            <span class="delivery-slider-weight">от 5 кг</span>
                        </div>

                        <p class="delivery-slider-price">от <span>2,5$/кг</span></p>

                        <div class="delivery-slider-buttons">
                            <button class="btn-orange">Оставить заявку</button>
                            <button class="btn-orange btn-orange--transparent">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="delivery-slider-item">
                    <img src="assets/images/delivery/vehicle-2.png" alt="Vehicle-2" class="delivery-slider-img">

                    <div class="delivery-slider-content">
                        <span class="delivery-slider-title">Авто - ускоренная</span>

                        <div class="delivery-slider-card">
                            <span class="delivery-slider-day">9-15 дней</span>
                            <span class="delivery-slider-weight">от 5 кг</span>
                        </div>

                        <p class="delivery-slider-price">от <span>2,5$/кг</span></p>

                        <div class="delivery-slider-buttons">
                            <button class="btn-orange">Оставить заявку</button>
                            <button class="btn-orange btn-orange--transparent">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="delivery-slider-item">
                    <img src="assets/images/delivery/vehicle-3.png" alt="Vehicle-3" class="delivery-slider-img">

                    <div class="delivery-slider-content">
                        <span class="delivery-slider-title">Авиа</span>

                        <div class="delivery-slider-card">
                            <span class="delivery-slider-day">9-15 дней</span>
                            <span class="delivery-slider-weight">от 5 кг</span>
                        </div>

                        <p class="delivery-slider-price">от <span>2,5$/кг</span></p>

                        <div class="delivery-slider-buttons">
                            <button class="btn-orange">Оставить заявку</button>
                            <button class="btn-orange btn-orange--transparent">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="delivery-slider-item">
                    <img src="assets/images/delivery/vehicle-4.png" alt="Vehicle-4" class="delivery-slider-img">

                    <div class="delivery-slider-content">
                        <span class="delivery-slider-title">Ж/д</span>

                        <div class="delivery-slider-card">
                            <span class="delivery-slider-day">9-15 дней</span>
                            <span class="delivery-slider-weight">от 5 кг</span>
                        </div>

                        <p class="delivery-slider-price">от <span>2,5$/кг</span></p>

                        <div class="delivery-slider-buttons">
                            <button class="btn-orange">Оставить заявку</button>
                            <button class="btn-orange btn-orange--transparent">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="delivery-slider-item">
                    <img src="assets/images/delivery/vehicle-5.png" alt="Vehicle-5" class="delivery-slider-img">

                    <div class="delivery-slider-content">
                        <span class="delivery-slider-title">Море</span>

                        <div class="delivery-slider-card">
                            <span class="delivery-slider-day">9-15 дней</span>
                            <span class="delivery-slider-weight">от 5 кг</span>
                        </div>

                        <p class="delivery-slider-price">от <span>2,5$/кг</span></p>

                        <div class="delivery-slider-buttons">
                            <button class="btn-orange">Оставить заявку</button>
                            <button class="btn-orange btn-orange--transparent">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>