<section class="first-screen section-margin">
    <div class="first-screen-slider">
        <div class="first-screen-slider__item" style="background-image: linear-gradient(94.52deg, rgba(4, 5, 17, 0.72) 1.89%, rgba(88, 88, 88, 0) 65.32%), url('assets/images/first-screen/first-screen-1.png')">
            <div class="container-lg">
                <h1 class="first-screen-title">Надежное КАРГО из Китая</h1>
                <p class="first-screen-subtitle">Доставляем грузы из Китая в Россию по выгодной цене</p>
                <button class="btn-orange">Рассчитать стоимость <img src="assets/images/arrow-right.svg"
                        alt="Arrow right"></button>
            </div>
        </div>
        <div class="first-screen-slider__item" style="background-image: linear-gradient(94.52deg, rgba(4, 5, 17, 0.72) 1.89%, rgba(88, 88, 88, 0) 65.32%), url('assets/images/first-screen/first-screen-2.png')">
            <div class="container-lg">
                <h1 class="first-screen-title">Страховка груза!</h1>
                <p class="first-screen-subtitle">Если груз будет утерян или поврежден, мы вернем деньги.</p>
                <button class="btn-orange">Рассчитать стоимость <img src="assets/images/arrow-right.svg"
                        alt="Arrow right"></button>
            </div>
        </div>
        <div class="first-screen-slider__item" style="background-image: linear-gradient(94.52deg, rgba(4, 5, 17, 0.72) 1.89%, rgba(88, 88, 88, 0) 65.32%), url('assets/images/first-screen/first-screen-3.png')">
            <div class="container-lg">
                <h1 class="first-screen-title">Выкуп товара с taobao, tmall, 1688 и предприятий</h1>
                <p class="first-screen-subtitle">Выкуп и доставка товаров с крупных китайских торговых площадок и предприятий.</p>
                <button class="btn-orange">Рассчитать стоимость <img src="assets/images/arrow-right.svg"
                        alt="Arrow right"></button>
            </div>
        </div>
        <div class="first-screen-slider__item" style="background-image: linear-gradient(94.52deg, rgba(4, 5, 17, 0.72) 1.89%, rgba(88, 88, 88, 0) 65.32%), url('assets/images/first-screen/first-screen-4.png')">
            <div class="container-lg">
                <h1 class="first-screen-title">Несколько видов доставки</h1>
                <p class="first-screen-subtitle">У нас для Вас есть несколько вариантов доставки, выберите подходящую.</p>
                <button class="btn-orange">Рассчитать стоимость <img src="assets/images/arrow-right.svg"
                        alt="Arrow right"></button>
            </div>
        </div>
    </div>
</section>