<footer class="footer" id="footer">
    <div class="container-lg">
        <div class="footer-border"></div>

        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="footer-info">
                    <img src="assets/images/brand.svg" alt="" class="img-fluid">

                    <div class="footer-contacts">
                        <a href="tel:88006001869">8(800)600-18-69</a>
                        <a href="mailto:info@cargoasia.info">info@cargoasia.info</a>
                        <address>
                            <p>Адрес в Китае:</p>
                            <p>浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379</p>
                        </address>
                    </div>
                    <div class="footer-social">
                        <div class="footer-social__item">
                            <a href="https://www.instagram.com/">
                                <img src="assets/images/instagram.svg" alt="Instagram">
                            </a>
                        </div>
                        <div class="footer-social__item">
                            <a href="https://vk.com/">
                                <img src="assets/images/vkontakte.svg" alt="Vkontakte">
                            </a>
                        </div>
                        <div class="footer-social__item">
                            <a href="https://telegram.org/">
                                <img src="assets/images/telegram.svg" alt="Telegram">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="footer-nav">
                    <div class="footer-title">Грузоперевозки</div>

                    <a href="#" class="footer-link">Цены и сроки</a>
                    <a href="#" class="footer-link">Услуги</a>
                    <a href="#" class="footer-link">О компании</a>
                    <a href="#" class="footer-link">Контакты</a>
                    <a href="#" class="footer-link">Оформить груз</a>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="footer-nav">
                    <div class="footer-title">Услуги</div>

                    <a href="#" class="footer-link">Выкуп товара</a>
                    <a href="#" class="footer-link">Страховка груза</a>
                    <a href="#" class="footer-link">Аренда склада</a>
                    <a href="#" class="footer-link">Перевод денежных средств</a>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="footer-nav">
                    <div class="footer-title">Информация</div>

                    <a href="#" class="footer-link">Отзывы</a>
                    <a href="#" class="footer-link">Требования к грузу</a>
                    <a href="#" class="footer-link">Договор-оферта</a>
                    <a href="#" class="footer-link">Как заключить договор</a>
                    <a href="#" class="footer-link">Способы оплаты услуг</a>
                    <a href="#" class="footer-link">Документы</a>
                    <a href="#" class="footer-link">Статьи</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery-3.6.2.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/app.js"></script>

@@include("analytics.html")

</body>
</html>