<div class="services section-margin" id="services">
    <div class="container-lg">
        <div class="template-title decoration decoration--orange">
            <h3>Услуги</h3>
        </div>
        <div class="delivery-slider">
            <div>
                <div class="delivery-slider-item delivery-slider-item--services" style="background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url('assets/images/services/services-1.png');">
                    <div class="delivery-slider-content delivery-slider-content--services">
                        <span class="delivery-slider-title">Выкуп товара</span>
                        <span class="delivery-slider-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. </span>

                        
                        <div class="delivery-slider-buttons">
                            <button class="btn-orange btn-orange--transparent btn-orange--services">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="delivery-slider-item delivery-slider-item--services" style="background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url('assets/images/services/services-2.png');">
                    <div class="delivery-slider-content delivery-slider-content--services">
                        <span class="delivery-slider-title">Страховка груза</span>
                        <span class="delivery-slider-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. </span>

                        
                        <div class="delivery-slider-buttons">
                            <button class="btn-orange btn-orange--transparent btn-orange--services">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="delivery-slider-item delivery-slider-item--services" style="background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url('assets/images/services/services-3.png');">
                    <div class="delivery-slider-content delivery-slider-content--services">
                        <span class="delivery-slider-title">Аренда склада</span>
                        <span class="delivery-slider-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. </span>

                        
                        <div class="delivery-slider-buttons">
                            <button class="btn-orange btn-orange--transparent btn-orange--services">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="delivery-slider-item delivery-slider-item--services" style="background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url('assets/images/services/services-4.png');">
                    <div class="delivery-slider-content delivery-slider-content--services">
                        <span class="delivery-slider-title">Перевод денежных средств</span>
                        <span class="delivery-slider-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Россию - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. </span>

                        
                        <div class="delivery-slider-buttons">
                            <button class="btn-orange btn-orange--transparent btn-orange--services">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>